h1 {
  color: lightblue; /* for h1 heading */
  margin-left: 10px;
  margin-right: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-decoration: underline;
}

h2 {
  color: rgb(30, 100, 100);
  margin: auto;
  padding-top: 5px;
}

h1 h2 {
  font-family: "Montserrat", sans-serif;
}

.cutebutton {
  background-color: lightpink;
  height: 100px;
  width: 150px;
  text-align: center;
  border-style: dotted;
  border-color: hsl(10, 10, 10);
  border-width: 0cap;
  border-radius: 1px;
  position: relative;
}

button:hover {
  color: beige;
}

button:active {
  height: 150px;
  width: 200px;
}
#agenda {
  font-size: 2vw;
  font-family: "Montserrat", sans-serif;
  padding: 10 0 0 10;
  position: fixed;
}

summary > details {
  font-family: "Montserrat", sans-serif;
}

ul li {
  color: darkgrey;
}

h2 ~ b {
  font-weight: bolder;
}

li.important {
  font-weight: bold;
}

button + input {
  font-style: italic;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-item {
  background-color: lightgreen;
  padding: 20px;
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
